//Site colors
$site_bg_color: #383838;
$site_text_color: #FFFFFF; //#CECECE
$site_accent_orange: #ca861b;

//Header stuff
$header_height: 40pt;
$site_header_color: #4D4D4D;
$site_header_border: 2pt solid $site_accent_orange;
$site_body_border: 8pt solid $site_accent_orange;
$site_body_border_mobile: 4pt solid $site_accent_orange;

//Mixins
@mixin vertical-align($position: relative) 
{
  position: $position;
  //top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin orange-accent($size: 2pt)
{
	border-bottom: $size solid $site_accent_orange;
}

@mixin unselectable()
{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

//Template classes
.wf-button-base
{
	margin-left: 2pt;
	margin-right: 2pt;
	border-bottom: $site-header-border;
	transition: background-color 0.3s, border-bottom-width 0.3s;
	-webkit-transition: background-color 0.3s, border-bottom-width 0.3s;
	cursor: alias;
}


//IDs
#page-header-desktop
{
	height: $header_height;
	background-color: $site_header_color;
	//border-left: $site-header-border;
	clear: both;
	display: inline-block;
	width: 100%;
	top: 0px;
	//position: fixed;
}

#page-header-mobile
{
	@extend #page-header-desktop;
	display: none;
}

#page-body
{
	background-color: $site-header-color;
	width: 90%;
	margin-left: auto;
	margin-top: 20pt;
	margin-right: auto;
	padding-left: 20pt;
	padding-right: 20pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
	border-left: $site_body_border;
	max-width: 1024px;
}

//Page element classes
.header-nav-wrapper
{
	height: 100%;
	text-align: center;
	display: inline-block;
	background-color: $site_header_color;	
	font-size: 20pt;
	float: right;
}

.nav-span-object
{
	@extend .wf-button-base; 
	display: inline-block;
	min-width: 100pt;
	background-color: $site_header_color;
	height: 100%;
	cursor: pointer;
}

.nav-span-object:hover
{
	background-color: $site_accent_orange;
	border-bottom: 0px;
}

.nav-item-text
{
	@include vertical-align();
	@include unselectable();
	padding: 0px;
}

.style-h1-test
{
	//@include vertical-align();
	padding-left: 10pt;
	position: relative;
	-webkit-transform: translateY(25%);
	transform: translateY(25%);
	font-family: Arial, sans-serif;
	font-size: 20pt;
	height: 25pt;
	width: auto;
}

.wfs-logo-small
{
	@extend .style-h1-test;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: 0px;
	//border-bottom: $site-header-border;
}

body
{
	color: $site_text_color;
	background-color: $site_bg_color;
	margin: 0px;
}

@media screen and (max-width: 900px)
{
	#page-header-mobile
	{
		display: inline-block !important;
	}
	
	#page-header-desktop
	{
		display: none;
	}
	
	#page-body
	{
		//margin-left: 0px;
		//margin-right: 0px;
		//border: 0px;
		border-left: $site_body_border_mobile;
		width: 95%;
		padding-left: 1%;
		padding-right: 1%;
	}
	
}

*
{
	font-family: Verdana, Arial, sans-serif;
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
}