//Site colors
$site_bg_color: #383838;
$site_text_color: #FFFFFF; //#CECECE
$site_accent_orange: #ca861b;

//Header stuff
$header_height: 40pt;
$site_header_color: #4D4D4D;
$site_header_border: 2pt solid $site_accent_orange;
$site_body_border: 8pt solid $site_accent_orange;
$site_body_border_mobile: 4pt solid $site_accent_orange;

$site-page-max-width: 1100px;

$site-drop-shadow: 0px 0px 20px -2px rgba(0, 0, 0, 0.75); 

$bg_image_file: url(/images/bg-1.svg);

//Mixins
@mixin vertical-align($position: relative) 
{
  position: $position;
  //top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin orange-accent($size: 2pt)
{
	border-bottom: $size solid $site_accent_orange;
}

@mixin unselectable()
{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

//Template classes
.wf-button-base
{
	margin-left: 2pt;
	margin-right: 2pt;
	border-bottom: $site-header-border;
	transition: background-color 0.3s, border-bottom-width 0.3s;
	-webkit-transition: background-color 0.3s, border-bottom-width 0.3s;
	cursor: alias;
}

.wrapper
{
	min-height: 100%;
	margin-bottom: -45px;
}

.push
{
	height: 45px;
}

//IDs
#page-header-desktop
{
	height: $header_height;
	background-color: $site_header_color;
	//border-left: $site-header-border;
	clear: both;
	display: inline-block;
	width: 100%;
	top: 0px;
	-webkit-box-shadow: $site-drop-shadow;
	-moz-box-shadow: $site-drop-shadow;
	box-shadow: $site-drop-shadow;
	//position: fixed;
}

#page-header-mobile
{
	@extend #page-header-desktop;
	display: none;
}

#background-image
{
	background-image: $bg_image_file;
	width: 110%;
	height: 110%;
	position: absolute;
	background-size: cover;
	top: -5%;
	left: -5%;
	transform: translate3d(0.0px, 0.0px, 0.0px);
	transition: transform 0.1s ease-out;
}

#background-image-wrapper
{
	width: 100%;
	height: 100%;
	z-index: -10;
	position: fixed;
	overflow: hidden;
}

.wfs-mob-sidebar
{
	@include unselectable();
	display: inline;
}

#page-body
{
	background-color: $site-header-color;
	width: 90%;
	margin-left: auto;
	margin-top: 20pt;
	margin-right: auto;
	padding-left: 20pt;
	padding-right: 20pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
	border-left: $site_body_border;
	max-width: $site-page-max-width;
	-webkit-box-shadow: $site-drop-shadow;
	-moz-box-shadow: $site-drop-shadow;
	box-shadow: $site-drop-shadow;
}

#page-footer
{
	background-color: $site-accent-orange;
	//max-width: $site-page-max-width;
	width: 100%;
	height: 30px;
	margin-left: auto;
	margin-right: auto;
	//border-top: $site-header-border;
}

#footer-text
{
	padding-top: 5pt;
	padding-bottom: 5pt;
	@include unselectable();
	margin-bottom: 0px;
	font-size: 10pt;
}

//Page element classes
.header-nav-wrapper
{
	height: $header_height;
	text-align: center;
	display: inline-block;
	background-color: $site_header_color;	
	font-size: 20pt;
	float: right;
}

.page-aligned
{
	max-width: $site-page-max-width;
	//display: inline-block;
	margin-left: auto;
	margin-right: auto;
}

.nav-span-object
{
	@extend .wf-button-base; 
	display: inline-block;
	min-width: 100pt;
	background-color: $site_header_color;
	height: 100%;
	cursor: pointer;
}

.nav-span-object:hover
{
	background-color: $site_accent_orange;
	border-bottom: 0px;
}

.nav-item-text
{
	@include vertical-align();
	@include unselectable();
	padding: 0px;
}

.style-h1-test
{
	//@include vertical-align();
	padding-left: 10pt;
	position: relative;
	-webkit-transform: translateY(25%);
	transform: translateY(25%);
	font-family: Arial, sans-serif;
	font-size: 20pt;
	height: 25pt;
	width: auto;
}

.wfs-logo-small
{
	@extend .style-h1-test;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: 0px;
	//border-bottom: $site-header-border;
}

.wfs-h1, h1
{
	font-size: 30pt;
	font-weight: normal;
	border-bottom: $site_header_border;
	margin-top: 15pt;
	margin-bottom: 15pt;
}

h2
{
	@extend .wfs-h1;
	font-size: 20pt;
}

h3
{
	@extend .wfs-h1;
	font-size: 20pt;
	border: 0;
}

.text-centred
{
	text-align: center;
}

.syntax-fixup
{
	font-family: Consolas, Monaco, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
	font-size: 10pt;
}

a
{
	color: $site-text-color;
}

#page-body p
{
	text-align: justify;
	text-justify: inter-word;
	font-size: 18px;
}

body
{
	color: $site_text_color;
	background-color: $site_bg_color;
	//background-image: $bg_image_file;
	background-attachment: fixed;
	background-size: cover;
	margin: 0px;
}

html, body
{
	height: 100%;
}

@media screen and (max-width: 900px)
{
	#page-header-mobile
	{
		display: inline-block !important;
	}
	
	#page-header-desktop
	{
		display: none;
	}
	
	#page-body
	{
		//margin-left: 0px;
		//margin-right: 0px;
		//border: 0px;
		border-left: $site_body_border_mobile;
		width: 95%;
		padding-left: 1%;
		padding-right: 1%;
	}
	
}

*
{
	font-family: 'Muli', Verdana, Arial, sans-serif;
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
}