@charset "UTF-8";
/* CSS Document */

body
{
	background-image: url(bg.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-color: #000000;
	background-position: center;
	min-height: 2000px;
}

.clear-top
{
	width: 100%;
	min-height: 90vh;
}

h1
{
	text-align: center;
	font-size: 48px;
	color: white;	
}

.white-bottom
{
	background-color: white;
	width: 100%;	
	padding-top: 20px;
	min-height: 1000px;
}