<header class="page-constrain-width wfs-header">
    <a href="/"><img class="header-wfs-logo" src="/images/logo-big.svg" /></a>
    <span class="msg" id="msg">Website now 30% less broken!</span>
    <nav class="wfs-nav">
        <a href="#" onmouseover="toggleDropDown(event)"><div class="wfs-nav-item dropdown" linked="games">Games</div></a>
            <div class="wfs-dropdown-content" id="games">
                <a href="/games/jams">Game Jams</a>
            </div>
        <a href="/about/"><div class="wfs-nav-item">About</div></a>
        <a href="/blog/"><div class="wfs-nav-item">Blog</div></a>
    </nav>
</header>