<!doctype html>
<html>
<head>
<meta charset="utf-8">

<title>{{ page.title }}</title>

<link href="/css/site-main.css" rel="stylesheet" type="text/css" media="screen">
<script   src="https://code.jquery.com/jquery-1.12.3.min.js"   integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ="   crossorigin="anonymous"></script>
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.4.0/styles/zenburn.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<script src="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.4.0/highlight.min.js"></script>
<script src="/js/depth.js"></script>
<script>InitMovingBackground('#background-image');</script>
<script>hljs.initHighlightingOnLoad();</script>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" >

<meta description="{{ page.description }}">

</head>
 
<body>
	<div id="background-image-wrapper">
		<div id="background-image"></div>
	</div>
<div class="wrapper">
	<div id="page-header-desktop">
	<div class="page-aligned">
		<a href="//whilefalsestudios.com">
			<img src="/images/logo-big.svg" alt="While False Studios" class="style-h1-test"/>
		</a>
		<nav class="header-nav-wrapper">
			<a href="/games/"><div class="nav-span-object"><p class="nav-item-text">Games</p></div></a>
			<a href="/about/"><div class="nav-span-object"><p class="nav-item-text">About</p></div></a>
		</nav>
		</div>
	</div>

	<div id="page-header-mobile">
		<a href="//whilefalsestudios.com">
			<img src="/images/logo-small.svg" class="wfs-logo-small" alt="WFS"/>
		</a>
		<div class="wfs-mob-sidebar">
			<p class="material-icons">menu</p>
		</div>
	</div>

	<div id="page-body">
		<h1>{{ page.title }}</h1>
		{{ content }}
	</div>

	<div class="push"></div>
</div>
<div id="page-footer">
		<p class="text-centred" id="footer-text">(C) 2016 While False Studios | Hosted by <a href="http://github.com/WhileFalseStudios/WhileFalseStudios.github.io">GitHub Pages</a></p>
	</div>
</body>
</html>
