<!doctype html>
<html>
<head>
<meta charset="utf-8">

<title>{{ page.title }}</title>

<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.4.0/styles/zenburn.min.css">
<link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<link href="/css/site-main.css" rel="stylesheet" type="text/css" media="screen" id="main-style">
<script src="/js/webcomponents-lite.min.js"></script>
<script   src="https://code.jquery.com/jquery-1.12.3.min.js"   integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ="   crossorigin="anonymous"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.4.0/highlight.min.js"></script>
<script src="/js/depth.js"></script>
<script src="/js/slideshow.js"></script>
<script src="/js/drawer.js"></script>
<script>InitMovingBackground('#background-image');</script>
<script>hljs.initHighlightingOnLoad();</script>

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" >

<meta description="{{ page.description }}">

</head>

<body>
	<div id="background-image-wrapper">
		<div id="background-image"></div>
	</div>

	<div id="blackout"></div>

	<div id="wfs-mob-menu">
		<div class="menu-padder">
			<h2>Menu</h2>
			<a href="/games/"><div class="nav-span-object"><span class="nav-item-text">Games</span></div></a>
			<a href="/about/"><div class="nav-span-object"><span class="nav-item-text">About</span></div></a>
		</div>
	</div>
<div class="wrapper">
	<!-- OLD Header does not work on firefox. <div id="page-header-desktop">
	<div class="page-aligned">
		<a href="/">
			<img src="/images/logo-big.svg" alt="While False Studios" class="style-h1-test"/>
		</a>
		<nav class="header-nav-wrapper">
			<div class="nav-span-object"><a class="wfs-link" href="/games/"><p class="nav-item-text">Games</p></a></div>
			<a class="wfs-link" href="/about/"><div class="nav-span-object"><p class="nav-item-text">About</p></div></a>
		</nav>
		</div>
	</div> -->

	<div id="page-header-desktop">
		<div class="page-aligned">
			<div class="header-logo-left">
				<a href="/" class="header-logo-a">
					<div style="height:40pt;">
						<span class="hack"></span>
						<img src="/images/logo-big.svg" alt="While False Studios" class="header-image"/>
					</div>
				</a>
			</div>                    
			<div class="header-nav-right">
				<a href="#" onclick="toggleDropDown(event)"><div class="nav-span-object dropdown" linked="gamesmenu">Games</div></a>
					<div class="wfs-dropdown-content" id="gamesmenu">
						<a href="/games/lpexplode">LPExplode</a>
						<a href="/games/bec">Big Evil Cube</a>						
					</div>
				<a href="/about/"><div class="nav-span-object">About</div></a>
			</div>
		</div>
	</div>

	<div id="page-header-mobile">
		<a href="/">
			<img src="/images/logo-small.svg" class="wfs-logo-small" alt="WFS"/>
		</a>
		<button class="wfs-mob-sidebar" onclick="ToggleMobileDrawer()">
			<p class="material-icons wfs-displayontop">menu</p>
		</button>
	</div>

	<div id="page-body">
		<h1>{{ page.title }}</h1>
		{{ content }}
	</div>

	<div class="push"></div>
</div>
<div id="page-footer">
		<p class="text-centred" id="footer-text">(C) 2016 While False Studios | Hosted by <a href="http://github.com/WhileFalseStudios/WhileFalseStudios.github.io">GitHub Pages</a></p>
	</div>

<script>
	if (navigator.userAgent.toLowerCase().indexOf('firefox') > -1)
	{
		$('#wfs-mob-menu').css('display', 'none');

		if (document.cookie === "")
		{
			alert("Mobile view will not work correctly with Firefox currently. Please consider using a different browser, such as Chrome, for the time being.");
			document.cookie = "foxbroken=true;path=/";
		}
	}
</script>
</body>
</html>
