<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <link href="/css/wfs.css" type="text/css" rel="stylesheet">
        {% if page.useGallery == true %}
        <link href="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/photoswipe.min.css" type="text/css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/default-skin/default-skin.min.css" type="text/css" rel="stylesheet">
        <link href="/css/photoswipe/gallery.css" type="text/css" rel="stylesheet">
        {% endif %}
        <link href="https://fonts.googleapis.com/css?family=Lato:300,300i|Work+Sans" rel="stylesheet">        
        <script src="/js/drawer.js"></script>
        <script src="/js/footer.js"></script>
        {% if page.useGallery == true %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/photoswipe.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/photoswipe-ui-default.min.js"></script>
        <script src="/js/photoswipe/photoswipe-gallery.js"></script>
        {% endif %}
        <meta description="{{ page.description }}">
    </head>
    <body>
        {% include header.html %}
        <main class="page-constrain-width wfs-main">
            {{ content }}
        </main>
        {% include footer.html %}

{% if page.useGallery == true %}
{% include photoswipe.html %}    
{% endif %}

    </body>
</html>